{% extends 'blog/base.html' %}

{% block body %}

<div class="card card-body">
    <div class="card">
        <div class="card-header text-center">
            List Article
            <span class="float-right"><a href="{% url 'article_new' %}" class="btn btn-sm btn-outline-dark">New Article</a></span>
        </div>
        <div class="card-body">
            <div class="filter-area">
                <div class="row justify-content-end">
                    <div class="col-md-4">
                        <form action="#" method="get">
                            <input type="text" class="form-control-inline" name="title" placeholder="search title">
                            <input class="form-control-inline" type="submit" value="Search">
                        </form>
                    </div>
                </div>
                <div class="tag">
                    {% for tag in tags %}
                    <a href="?tag={{ tag.text }}"><span class="badge badge-{{ colors|random }}">{{ tag.text }} {{ tag.num_article }}</span></a>
                    {% endfor %}
                </div>
            </div>
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Created Date</th>
                        <th scope="col">Published Date</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in articles %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ article.title }}</td>
                        <td>{{ article.created_date }}</td>
                        <td>
                            {% if article.published_date %}
                            {{ article.published_date }}
                            {% else %}
                            <a href="{% url 'article_publish' pk=article.pk %}" class="btn btn-sm btn-dark">Publish Now</a>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'article_edit' pk=article.pk %}" class="btn btn-sm btn-dark">Edit</a>
                            <a href="{% url 'article_delete' pk=article.pk %}" class="btn btn-sm">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}